<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Remote for Google TV finds and controls your Google TV on your home Wi-Fi network.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_androidtvremote2._tcp</string>
		<string>_androidtvremote._tcp</string>
	</array>
</dict>
</plist>
